:root {
  --background-color: hwb(0 27% 72%);
  --background-color-nav: hwb(0 12% 87%);
  --background-color-pic: hsl(0, 1%, 28%);
  --fc-white: white;

  --fs-big: 3.5rem;
  --fs-medium: 2.5rem;
  --fs-small: 2rem;

  --fs-nav-big: 2.5rem;
  --fs-nav-medium: 1.5rem;
  --fs-nav-small: 1rem;

  --fw-thin: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-sbig: 3rem;
  --fw-extrabold: 750;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--fc-white);
  line-height: 1.6;
}

img {
  max-width: 31.25rem;
  height: auto;
  display: block;
  border-radius: 9em;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  width: 100%;
  max-width: none;
  padding: 1.5rem;
  padding-inline: 6.25rem;
  background-color: var(--background-color-nav);
  margin-top: 1rem;
  text-decoration: none;
  font-size: var(--fs-nav-medium);
  font-weight: var(--fw-thick);
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--fc-white);
  transition: color 0.3s ease;
  position: relative;
}

nav ul li a:hover {
  color: coral;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li:first-child > a {
  margin-right: auto;
  color: coral;
}

.active {
  border-bottom: 4px solid coral;
  border-radius: 2px;
}

#home {
  max-width: none;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}

.intro-container{
  display: flex;
  flex-wrap: wrap;
  max-height: auto;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  padding-block: 50px;
}

.wave{
  margin-bottom: -20px;
}

.wave svg{
  display: inline;
}

.intro {
  position: relative;
  max-width: 100%;
  height: auto;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.intro h1 {
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  margin-bottom: 40px;
}

.intro h1 span {
  color: coral;
}

.intro h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-thin);
}

.intro p {
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
}

.intro h1,
.intro h2,
.intro p {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.intro h1{
  animation: typing 1.5s 0s, typing_reverse 1.5s 27s;
  animation-fill-mode: forwards;
}

.intro h2 {
  animation: typing 1.5s 3s, typing_reverse 1.5s 28.5s;
  animation-fill-mode: forwards;
}

.intro p {
  animation: typing 1.5s 1.5s, typing_reverse 1.5s 25.5s;
  animation-fill-mode: forwards;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing_reverse {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.svg-icon{
  opacity: 0;
  gap: 20px;
  display: flex;
  padding-block: 60px;
  animation: fadeIn 1.5s 5s ease forwards;
}

.svg-icon a{
  text-decoration: none;
  color: var(--fc-white);
}

.bi:hover{
  transform: scale(1.3);
  transition: transform 0.3s ease;
  color: coral;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pic-container {
  opacity: 0;
  padding: 2rem;
  background-color: var(--background-color-pic);
  border-radius: 9em;
  box-shadow: 0rem 0.3125rem 1rem #252525;
  animation: fadeUp 1.5s ease forwards;
  animation-delay: 4.5s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#projects{
  max-width: 100%;
  height: auto;
  background-color: coral;
}

#projects h2,
#tools h2 {
  margin-left: 120px;
  align-items: center;
  font-size: var(--fs-medium);
  font-weight: var(--fw-thin);
}

#projects h1,
#tools h1  {
  font-size: var(--fs-sbig);
  font-weight: var(--fw-extrabold);
  text-align: center;
  background-color: var(--background-color);
  align-items: center;
  padding-block: 60px;
}

.project-list,
.tools-list {
  max-width: 100%;
  max-height: auto;
  padding-block: 200px;
}

#tools h1 {
  background-color: var(--background-color-nav);
}

#tools{
  max-width: 100%;
  height: auto;
  background-color: var(--background-color);
}

@media (max-width: 700px) {
  nav {
    display: none;
  }

  #projects h2,
  #tools h2 {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 615px) {
  .intro {
    text-align: center;
  }
  
  .intro h1{
    font-size: var(--fs-nav-big)
  }

  .intro h1 span{
    display: block;
  }

  .intro h2 {
    font-size: var(--fs-nav-medium);
    margin-bottom: 0.5rem;
  }

  .intro p {
    font-size: var(--fs-nav-small)
  }

  #projects h2,
  #tools h2 {
    font-size: var(--fs-nav-medium);
  }

  #projects h1,
  #tools h1  {
    font-size: var(--fs-nav-big);
    padding-block: 40px;
  }
  .svg-icon {
    justify-content: center;
  }

  .bi {
    width: 32px;
    height: 32px;
  }

  img {
    max-width: 25.25rem;
  }

  .pic-container {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {

  img {
    max-width: 16rem;
  }

  .pic-container {
    padding: 1rem;
  }
}